<div class="alert alert-success" *ngIf="health=='UP'">
  <strong>Success!</strong> Server is UP.
</div>
<div class="alert alert-danger" *ngIf="health=='Down'">
  <strong>Warning!</strong> Server has not started.
</div>

<div class="container" align="center" *ngIf="health=='UP'">  
  <h3>Only use .xlsx files</h3>
  <input class="inputstyle" type="file" (change)="onFileSelected($event)" >
</div>
<div>
  <table class="table table-striped" *ngIf="resultData!=null">
    <tbody>
      <tr *ngFor="let unit of resultData | paginate: {
        itemsPerPage: 10,
        currentPage: pagination,
        totalItems: resultData.length
      }; index as i">
        <td *ngFor="let cell of unit; index as j" ><input type="text" value="{{cell}}" (change)="change($event,i,j)"></td>
      </tr>
    </tbody>
    <button (click)="saveFile()" >save</button>
    <button (click)="saveNdownload()" >Save & Download</button>
  </table>
</div>
<div class="pagination" *ngIf="resultData!=null">
  <pagination-controls
    (pageChange)="getevent($event)">
  </pagination-controls>
</div>
<div>
  <table class="table table-striped" *ngIf="updatedData!=null">
    <tbody>
      <tr *ngFor="let unit of updatedData | paginate: {
        itemsPerPage: 10,
        currentPage: pagination,
        totalItems: updatedData.length
      };">
        <td *ngFor="let cell of unit">{{cell}}</td>
      </tr>
    </tbody>
    <!-- <button (click)="convertArrayToXLSX()" >save</button> -->
  </table>
</div>

<div class="pagination" *ngIf="updatedData!=null">
  <pagination-controls
    (pageChange)="getevent($event)">
  </pagination-controls>
</div>